<phpunit>
    <testsuites>
        <testsuite name="functional">
            <directory suffix=".phpt">tests/functional</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Arara/Process</directory>
        </whitelist>
    </filter>
</phpunit>
